[user]
	email = fillberth@gmail.com
	name = filbert
[init]
	defaultBranch = main

[core]
	editor = nvim
	whitespace = cr-at-eol
	autocrlf = input
[diff]
	guitool = nvimdiff
	tool = nvimdiff
[difftool]
  prompt = false
